
{% extends 'base-template.html' %}

{% block head_title %} themlkiiway | basket {% endblock %}

{%block maincontent%}
{% if num_items != 0 %}
<div class="container">
    <h5 class="mt-3 mb-3">Items in Your Trolley</h5>
    <ul class="list-group">
        {% for key, item in cart.items %}
        <li class="list-group-item mb-2">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img src="{{item.photo}}" alt="{{item.name}}" />
                </div>
                <div class="col">
                    <a class="mt-1 delbtn" href="#">
                        <i class="fas btn-outline-danger fa-times-circle"></i></a>
                    <h5 class="mt-3">{{item.name}}</h5>
                    <p>{{item.description}}</p>
                    <div class='trolleytext row d-flex justify-content-start'>
                        <p>Quantity : {{item.quantity}} </p>
                        <form method="POST" action="#">
                            <div class="container">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-3">
                                        # of Units:
                                        <input class="col-9" type="text" name="unit" value="{{item.quantity}}" />
                                    </div>
                                </div>
                                    <input type="submit" class="btn btn-warning btn-sm mb-3 mt-3" value="update" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <h5 class="text-end">SGD{{item.total}}</h5>
                </div>
            </div>
        </li>
        {%endfor%}
    </ul>
</div>
{%endif%}
{%endblock%}