body {
    background-color: #aee3e7;
    color: #2f4f4f;
    font-family: 'Lato', sans-serif;
    font-size: calc(11px + 0.5vw);
}

#ig {
    font-size: calc(28px + 1.8vw);
}

#maintitle {
    color: black;
    font-family: 'Chicle', cursive;
    font-size: calc(14px + 2vw);
}

.mainnav {
    background-color: #fce0dd;
}

#footer {
    position: relative;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    line-height: 1.3rem;
    text-align: center;
    font-size: calc(11px + 0.2vw);
    padding-top: 5px;
}

/* admin console */

.adminbtn {
    float: right;
    margin: 10px 8px;
    padding: 8px 15px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 140px;
}

.adminconsole {
    background-color: #242121;
    color: white;
    font-family: 'Chicle', cursive;
    font-size: 0.8vw;
    padding: 8px;
}

.consoletitle {
    font-size: 1.08rem;
}

/* _____________________________________ */
/* forms */

a.button.secondaryAction {
    font-size: calc(11px + 0.2vw);
}

input.textinput.textInput {
    font-size: calc(9px + 0.3vw);
    padding-left: 5px;
}

div.control-group {
    margin-top: 15px;
}


/* _____________________________________ */
/* STICKER APP */

.stickercard {
    width: 22rem;
    margin: 9px;
    padding: 9px;
    border-radius: 5px;
}

.basketbtn {
    background-color: #f2b705;
    border-color: #f2b705;
}